<style>
 ${insertStyle()}
    </style>
  </head>

  <body class="cardbody">
    <a href="../index.html">&lt;&lt; back to increpare.com </a>
    <div id="date">2018/12/18</div>
    <div class="card">
      <div class="docenter">
       	<h1>404 - Page not found</h1>
      	<div id="description">
          <p>
            The page you were looking for couldn't be found.
          <p>
          	I'm sorry.
          <p>
          	If it's a broken link you think I should know about, mail me at <a href="mailto:analytic@gmail.com">analytic@gmail.com</a>.
          <p>
          	<a href="https://www.increpare.com">Click here to go to back increpare.com</a>
        </div>
        <p>
        </div>
      </div>

        <div id="footer"> 
          ${doLinkList()}
        </div>
     <p>
  </body>
</html>