<ul class="linklistbar">
<li><a href="https://x.com/increpare" title="x.com/increpare"><img src="symbols/websiteicons/x.svg"/></a></li>
<li><a href="https://bsky.app/profile/increpare.bsky.social" title="increpare.bsky.social"><img src="symbols/websiteicons/bsky.svg"/></a></li>
<li><a href="mailto:analytic@gmail.com" title="email:analytic@gmail.com"><img src="symbols/websiteicons/email.svg"/></a></li>
<li><a href="https://github.com/increpare/" title="github.com/increpare"><img src="symbols/websiteicons/github.svg"/></a></li>
<li><a href="https://twitch.tv/increpare" title="twitch.tv/increpare"><img src="symbols/websiteicons/twitch.svg"/></a></li>
<li><a href="https://www.paypal.me/increparegames" title="paypal.me/increparegames"><img src="symbols/websiteicons/paypal.svg"/></a></li>
<li><a href="https://www.youtube.com/@increpare_games" title="youtube.com/@increpare_games"><img src="symbols/websiteicons/youtube.svg"/></a></li>
<li><a href="https://store.steampowered.com/dev/increpare" title="steam store:increpare"><img src="symbols/websiteicons/steam.svg"/></A></li>
<li><a href="https://www.patreon.com/increpare" title="patreon.com/increpare"><img src="symbols/websiteicons/patreon.svg"/></a></li>
</ul>