<ul class="linklistbar">
<li><a href="https://x.com/increpare" title="x.com/increpare"><img src="/symbols/websiteicons/x.png"/></a></li>
<li><a href="https://bsky.app/profile/increpare.bsky.social" title="increpare.bsky.social"><img src="/symbols/websiteicons/bsky.png"/></a></li>
<li><a href="mailto:analytic@gmail.com" title="analytic@gmail.com"><img src="/symbols/websiteicons/email.png"/></a></li>
<li><a href="https://github.com/increpare/" title="github.com/increpare"><img src="/symbols/websiteicons/github.png"/></a></li>
<li><a href="https://twitch.tv/increpare" title="twitch.tv/increpare"><img src="/symbols/websiteicons/twitch.png"/></a></li>
<li><a href="https://www.paypal.me/increparegames" title="paypal.me/increparegames"><img src="/symbols/websiteicons/paypal.png"/></a></li>
<li><a href="https://www.youtube.com/@increpare_games" title="youtube.com/@increpare_games"><img src="/symbols/websiteicons/youtube.png"/></a></li>
<li><a href="https://steamcommunity.com/profiles/76561198021110186/" title="steam store:increpare"><img src="/symbols/websiteicons/steam.png"/></A></li>
<li><a href="https://www.patreon.com/increpare" title="patreon.com/increpare"><img src="/symbols/websiteicons/patreon.png"/></a></li>
<li><a href="https://increpare.bandcamp.com/" title="increpare.bandcamp.com"><img src="/symbols/websiteicons/bandcamp.png"/></a></li>
<li><a href="https://www.tiktok.com/@increpare" title="tiktok.com/increpare"><img src="/symbols/websiteicons/tiktok.png"/></a></li>
</ul>