<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rss+xml" title="RSS feed for increpare.com" href="../feed.rss" />
    <title>${title} - increpare games</title>

    <style>
      ${insertStyle()}

    </style>
  </head>

  <body class="cardbody">
    <span class="date_and_back">
    <a href="../index.html">&lt;&lt; back to increpare.com </a>
    <span id="date">${date}</span>
  </span>
    <div class="card">
    <div class="docenter">
    	<img alt="" width="250" height="250" src="../icos/${icon}">
     	<h1>${title}</h1>
      	<div id="quote">${caption}</div>
      	<div id="description">${desc}</div>
    </div>
    <ul> 
    	${linkList('<li>[ ','<li class="li_src">[ ', ' ] ')}
    </ul>
    <p>
          <hr>
      Feel welcome to drop me a line at <a href="mailto:analytic@gmail.com">analytic@gmail.com</a> if you've questions/comments :)
      <p>
      </div>
        <p>
          <p>
      If you like what I do, consider supporting my freeware and open source work via
      <ul>
        <li><a href="https://www.patreon.com/increpare">patreon</a>
        <li><a href="https://www.paypal.me/increparegames">paypal</a>
        <li><a href="https://github.com/sponsors/increpare">github</a>
      </ul> 
      <p>
      <hr>
      <div id="footer"> 
        ${doLinkList()}
      </div>
     <p>
  </body>
</html>